.main_container {
    display: flex;
    justify-content: space-between;
}

.sidebar_container {
    width: 359px;
    height: 100vh;
    z-index: 1000;
    /*position: fixed;*/
    /*position: fixed;*/
    bottom: 0;
    overflow: hidden;
}


.content_container {
    width: 80%;
}