<div class="sidebar">
  <div class="header_sidebar">
    <%= image_tag('logo.png') %>
    <span>dofast</span>
  </div>

  <div>
    <%= image_tag('user.jpg', class: "user_sidebar_img")  %>
  </div>

  <div class="user_sidebar_name">
    <span>German Ruiz</span>
  </div>

  <%= render 'layouts/buttons_sidebar/primary_buttons' %>
  <%= render 'layouts/buttons_sidebar/secondary_button' %>
</div>